@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
/*--RESET--*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*--FIN RESET--*/

.body {
    width: 100%;
    margin: auto;
    background-color: #e3b7a0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/*----Header Inicio----*/

.header-container {
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #e3b7a0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    position: fixed;
}

.logo {
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.logo-item:hover {
    color: #af0808;
}


.menu {
    grid-column: 6 / 10;
    display: flex;
    justify-content: space-around;
}

.menu li a {
    text-decoration: none;
    color: #0f0f0f;
}

.menu li {
    list-style: none;
    font-size: 20px;
}

.menu li a:hover {
    color: #af0808;
}

/*----Fin Header Inicio----*/

/*---Inicio Contenido Principal---*/

.main {

    background-color: #ffeed8;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: 400px 420px 380px;
    margin: auto;
}

.banner-principal {
    grid-column: 1/span2;
    background-color: #ffeed8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 5%;
}


.img-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-container {
    grid-column: 1/span2;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.foto-inicio {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.foto-img {
    width: 350px;
    height: 250px;
    object-fit: cover;
}


/*-----UBICACION Y FORMULARIO---*/
.ubicacion-contacto {
    display: flex;
    justify-content: center;
    position: relative;

}

.titulo-contacto {
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    
}


.contacto-mapa {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;

}

.formulario {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    padding-left: 60px;
}

.casilla-items {
    padding: 15px;

}

/*---Fin Contenido Principal---*/

/*---Inicio del footer--*/

.footer-container {
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #e3b7a0;
    display: grid;
    grid-template-columns: 10% 10% 40% 10% 25% 5%;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    font-size: 20px;
}

.redes {
    grid-area: redes;
    grid-column: 4 / 6;
    grid-row: 3/1;
    display: flex;
    justify-content: flex-end;
}

.img {
    width: 50px;
    padding: 10px;
    object-fit: cover;
}

.whatsapp-fijo {
    background-position: center;
    position: fixed;
    top: 80%;
    right: 30px;
    bottom: 40px;
    margin-top: 25px;
}

.img1 {
    width: 50px;
    padding-top: 50px;
    object-fit: cover;

}

.sitios-contacto {
    grid-area: whatsapp-fijo;
    position: relative;
    grid-row: 3 / 2;
    grid-column: 1 / 3;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.listas {
    list-style: none;
    display: flex;
    flex-direction: column;

}

/*---Fin del footer--*/

/*-----------------------INICIO PAGINA PESTAÑAS Y CEJAS-----------------*/

/*--RESET--*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*--FIN RESET--*/

.body {
    border: solid black;
    width: 100%;
    margin: auto;
    background-color: #e3b7a0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/*----Header Inicio----*/

.header-container {
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #e3b7a0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    position: fixed;
}

.logo {
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.logo-item:hover {
    color: #af0808;
}


.menu {
    grid-column: 6 / 10;
    display: flex;
    justify-content: space-around;
}

.menu li a {
    text-decoration: none;
    color: #0f0f0f;
}

.menu li {
    list-style: none;
    font-size: 20px;
}

.menu li a:hover {
    color: #af0808;
}

/*----Fin Header Inicio----*/

/*Inicio Contenido Pestanas*/

.main-pestanas {

    background-color: #ffeed8;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: 400px 600px 400px;
    margin: auto;
}

.banner-pestanas {
    grid-column: 1/span2;
    background-color: #ffeed8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 68px;
    overflow: hidden;
}

.carrusel li{
    list-style: none;
    width: 100%;
}


.img-pestanas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel{
    display: flex;
    padding: 0;
    width: 400%;
    animation: carrusel 20s linear infinite alternate;
}

@keyframes carrusel{
    /*1era foto*/
    0% {margin-left: 0;}
    25% {margin-left: 0;}
    /*2da foto*/
    35% {margin-left: -100%;}
    60% {margin-left: -100%;}
    /*3era foto*/
    70% {margin: left -200%;}
    100% {margin: left -200%;}

}

.contenido-pestanas{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titulo-pestanas{
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
    font-size: 28px;
    color: #f10086;
}
.extension-pestanas{
    text-align: left;
    width: 80%;
    padding-left: 3%;
    margin-top: 30px;
}

.extension{
    color: #f10086;
    text-decoration: underline;
}

.lifting-pestanas{
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.lifting{
    color: #f10086;
    text-decoration: underline;
}

.perfilado-cejas{
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.cejas{
    color: #f10086;
    text-decoration: underline;
}

.perfilado-tine{
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.tinte{
    color: #f10086;
    text-decoration: underline;
}

/*-----UBICACION Y FORMULARIO---*/
.ubicacion-contacto {
    display: flex;
    justify-content: center;
    position: relative;

}

.titulo-contacto {
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    
}


.contacto-mapa {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;

}

.formulario {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    padding-left: 60px;
}

.casilla-items {
    padding: 15px;

}

/*---Fin Contenido Principal---*/

/*---Inicio del footer--*/

.footer-container {
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #e3b7a0;
    display: grid;
    grid-template-columns: 10% 10% 40% 10% 25% 5%;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    font-size: 20px;
}

.redes {
    grid-area: redes;
    grid-column: 4 / 6;
    grid-row: 3/1;
    display: flex;
    justify-content: flex-end;
}

.img {
    width: 50px;
    padding: 10px;
    object-fit: cover;
}

.whatsapp-fijo {
    background-position: center;
    position: fixed;
    top: 80%;
    right: 30px;
    bottom: 40px;
    margin-top: 25px;
}

.img1 {
    width: 50px;
    padding-top: 50px;
    object-fit: cover;

}

.sitios-contacto {
    grid-area: whatsapp-fijo;
    position: relative;
    grid-row: 3 / 2;
    grid-column: 1 / 3;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.listas {
    list-style: none;
    display: flex;
    flex-direction: column;

}

/*---Fin del footer--*/

/*-----------------------FIN PAGINA PESTAÑAS Y CEJAS-----------------*/

/*-----------------------INICIO PAGINA DEPILACION-----------------*/

/*--RESET--*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*--FIN RESET--*/

.body {
    border: solid black;
    width: 100%;
    margin: auto;
    background-color: #e3b7a0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/*----Header Inicio----*/

.header-container {
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #e3b7a0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    position: fixed;
}

.logo {
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.logo-item:hover {
    color: #af0808;
}


.menu {
    grid-column: 6 / 10;
    display: flex;
    justify-content: space-around;
}

.menu li a {
    text-decoration: none;
    color: #0f0f0f;
}

.menu li {
    list-style: none;
    font-size: 20px;
}

.menu li a:hover {
    color: #af0808;
}

/*----Fin Header Inicio----*/

/*Inicio Contenido Depilacion*/

.main-depilacion {

    background-color: #ffeed8;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: 400px 420px 380px;
    margin: auto;
}

.banner-depilacion {
    grid-column: 1/span2;
    background-color: #ffeed8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 68px;
}


.img-depilacion {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido-depilacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-depilacion{
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
    font-size: 28px;
    color: #f10086;
}

.depilacion-cera{
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.cera{
    color: #f10086;
    text-decoration: underline;
}

.depilacion-definitiva{
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.definitiva{
    color: #f10086;
    text-decoration: underline;
}

/*-----UBICACION Y FORMULARIO---*/
.ubicacion-contacto {
    display: flex;
    justify-content: center;
    position: relative;

}

.titulo-contacto {
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    
}


.contacto-mapa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;

}

.formulario {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    padding-left: 60px;
}

.casilla-items {
    padding: 15px;

}

/*---Fin Contenido Principal---*/

/*---Inicio del footer--*/

.footer-container {
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #e3b7a0;
    display: grid;
    grid-template-columns: 10% 10% 40% 10% 25% 5%;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    font-size: 20px;
}

.redes {
    grid-area: redes;
    grid-column: 4 / 6;
    grid-row: 3/1;
    display: flex;
    justify-content: flex-end;
}

.img {
    width: 50px;
    padding: 10px;
    object-fit: cover;
}

.whatsapp-fijo {
    background-position: center;
    position: fixed;
    top: 80%;
    right: 30px;
    bottom: 40px;
    margin-top: 25px;
}

.img1 {
    width: 50px;
    padding-top: 50px;
    object-fit: cover;

}

.sitios-contacto {
    grid-area: whatsapp-fijo;
    position: relative;
    grid-row: 3 / 2;
    grid-column: 1 / 3;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.listas {
    list-style: none;
    display: flex;
    flex-direction: column;

}

/*---Fin del footer--*/

/*-----------------------FIN PAGINA DEPILACION-----------------*/

/*-----------------------INICIO PAGINA UÑAS-----------------*/

/*--RESET--*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*--FIN RESET--*/

.body {
    border: solid black;
    width: 100%;
    margin: auto;
    background-color: #e3b7a0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/*----Header Inicio----*/

.header-container {
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #e3b7a0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    position: fixed;
}

.logo {
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.logo-item:hover {
    color: #af0808;
}


.menu {
    grid-column: 6 / 10;
    display: flex;
    justify-content: space-around;
}

.menu li a {
    text-decoration: none;
    color: #0f0f0f;
}

.menu li {
    list-style: none;
    font-size: 20px;
}

.menu li a:hover {
    color: #af0808;
}

/*----Fin Header Inicio----*/

/*Inicio Contenido Uñas*/

.main-unas {

    background-color: #ffeed8;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: 400px 500px 380px;
    margin: auto;
}

.banner-unas {
    grid-column: 1/span2;
    background-color: #ffeed8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 68px;
}


.img-unas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido-unas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-unas{
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
    font-size: 28px;
    color: #f10086;
}

.unas-esculpidas{
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.esculpidas{
    color: #f10086;
    text-decoration: underline;
}

.pedicuria{
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.titulo-pedicure{
    color: #f10086;
    text-decoration: underline;
}

.manucuria{
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.manicuria-profunda{
    color: #f10086;
    text-decoration: underline;
}

.permanente{
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.esmaltado-permanente{
    color: #f10086;
    text-decoration: underline;
}

/*-----UBICACION Y FORMULARIO---*/
.ubicacion-contacto {
    display: flex;
    justify-content: center;
    position: relative;

}

.titulo-contacto {
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    
}


.contacto-mapa {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;

}

.formulario {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    padding-left: 60px;
}

.casilla-items {
    padding: 15px;

}

/*---Fin Contenido Principal---*/

/*---Inicio del footer--*/

.footer-container {
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #e3b7a0;
    display: grid;
    grid-template-columns: 10% 10% 40% 10% 25% 5%;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    font-size: 20px;
}

.redes {
    grid-area: redes;
    grid-column: 4 / 6;
    grid-row: 3/1;
    display: flex;
    justify-content: flex-end;
}

.img {
    width: 50px;
    padding: 10px;
    object-fit: cover;
}

.whatsapp-fijo {
    background-position: center;
    position: fixed;
    top: 80%;
    right: 30px;
    bottom: 40px;
    margin-top: 25px;
}

.img1 {
    width: 50px;
    padding-top: 50px;
    object-fit: cover;

}

.sitios-contacto {
    grid-area: whatsapp-fijo;
    position: relative;
    grid-row: 3 / 2;
    grid-column: 1 / 3;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.listas {
    list-style: none;
    display: flex;
    flex-direction: column;

}

/*---Fin del footer--*/

/*-----------------------FIN PAGINA UÑAS-----------------*/

/*-------------MEDIA QUERIES MOBILE-----------*/

@media only screen and (min-width: 0px) and (max-width:450px){


    .header-container {
        width: 100%;
        position: relative;
        border: solid black;
    }

    .logo {
        font-size: 25px;
        width: 100%;
        padding-left: 9px;
    }

    .menu {
        display: block;
        grid-column: 6/10;
        padding-right: 10px;
        align-items: center;
    }

    .menu li a {
        font-size: 17px;

    }

    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 300px;
    }

    .banner-principal {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 185px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .foto-container{
        grid-template-columns: 100%;
        grid-template-rows: 250px;
    }

    .foto-inicio {
        margin-bottom: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto-img {
        width: 290px;
        height: 200px;

    }

    .ubicacion-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titulo-contacto {
        font-size: 18px;
        margin-bottom: 230px;
    }

    .contacto-mapa {
        display: none;

    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 100px;
        padding-top: 15px;
    }

    .footer-container {
        position: relative;
        grid-column: 100%;
        grid-template-rows: 120px;
    }

    .redes {
        grid-column: 3/6;

    }

    .whatsapp-fijo {
        display: none;
    }

    .sitios-contacto {
        grid-column: 1/4;
        grid-row: 2/1;
    }

    /*Contenido de Pestañas y cejas */


    .banner-pestanas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 280px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .contenido-pestanas{
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
    }

    .div-titulo{
        display: flex;
        align-items: center;
    }
  
     /*Contenido de Depilacion */
    

    .banner-depilacion {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 270px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .contenido-depilacion{
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .div-titulo{
        display: flex;
        align-items: center;
    }
 
    /*Contenido de  Uñas */
    

    .banner-unas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 280px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .contenido-unas{
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 15px;

    }

    .div-titulo{
        display: flex;
        align-items: center;
    }

}
/* MEDIA QUERY CELULARES EN HORIZONTAL Y TABLETS PEQUEÑAS*/

@media only screen and (min-width: 451px) and (max-width:767px){

    .header-container {
        position: relative;
    }

    .logo {
        font-size: 25px;
        width: 100%;
        padding-left: 9px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        grid-column: 3/10;
        padding-right: 10px;
        align-items: center;
    }

    .menu li a {
        font-size: 15px;

    }

    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 300px;
    }

    .banner-principal {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 195px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .foto-container{
        grid-template-columns: 100%;
        grid-template-rows: 250px;
    }

    .foto-inicio {
        margin-bottom: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .foto-img {
        width: 220px;
        height: 180px;

    }

    .ubicacion-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titulo-contacto {
        font-size: 18px;
        margin-bottom: 230px;
    }

    .contacto-mapa {
        display: none;

    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 40%;
        padding-top: 15px;
    }

    .footer-container {
        position: relative;
        grid-column: 100%;
        grid-template-rows: 120px;
    }

    .redes {
        grid-column: 3/6;

    }

    .whatsapp-fijo {
        display: none;
    }

    .sitios-contacto {
        grid-column: 1/4;
        grid-row: 2/1;
    }

    /*Contenido de Pestañas y cejas */


    .banner-pestanas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 280px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .contenido-pestanas{
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
    }

    .div-titulo{
        display: flex;
        align-items: center;
    }
  
     /*Contenido de Depilacion */
    

    .banner-depilacion {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 270px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .contenido-depilacion{
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .div-titulo{
        display: flex;
        align-items: center;
    }
 
    /*Contenido de  Uñas */
    

    .banner-unas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 280px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .contenido-unas{
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 15px;

    }

    .div-titulo{
        display: flex;
        align-items: center;
    }

}


/* MEDIA QUERY DESKTOP Y TABLET */


@media only screen and (min-width:768px) and (max-width:1200px){

    .header-container {
        position: relative;
    }

    .logo {
        font-size: 28px;
        width: 100%;
        padding-left: 9px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        grid-column: 4/10;
        padding-right: 10px;
        align-items: center;
    }

    .menu li a {
        font-size: 22px;

    }

    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 300px;
    }

    .banner-principal {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 355px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .foto-container{
        grid-template-columns: 100%;
        grid-template-rows: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0%;
    }

    .foto-inicio {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .foto-img {
        width: 199px;
        height: 160px;

    }

    .ubicacion-contacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .titulo-contacto {
        font-size: 18px;
        margin-bottom: 230px;
    }

    .contacto-mapa {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-around;    
        padding-left: 30px;
    }

    .footer-container {
        position: relative;
        grid-column: 100%;
        grid-template-rows: 120px;
    }

    .redes {
        grid-column: 3/6;
        display: flex;
        justify-content:center;

    }

    .whatsapp-fijo {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }


    .sitios-contacto {
        grid-column: 1/3;
        grid-row: 2/1;
    }

    /*Contenido de Pestañas y cejas */


    .banner-pestanas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 390px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .contenido-pestanas{
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
    }

    .div-titulo{
        display: flex;
        align-items: center;
    }
  
     /*Contenido de Depilacion */
    

    .banner-depilacion {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 390px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .contenido-depilacion{
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


    }

    .div-titulo{
        display: flex;
        align-items: center;
    }
 
    /*Contenido de  Uñas */
    

    .banner-unas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 390px;
        margin-top: 0%;
        padding-top: 3px;
    }

    .contenido-unas{
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 15px;


    }

    .div-titulo{
        display: flex;
        align-items: center;
    }

}
